body {
	margin: 0 auto;
	background: linear-gradient(to right, red, blue);
	cursor: default;
}

.container1 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.colors {
	display: flex;
	justify-self: flex-end;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 40px;
	align-items: center;
	border: 2px solid rgba(128, 128, 128, 0.173);
}

.inputbox, .inputbutton, .del, #color1, #color2 {
	border-radius: 0.5em;
}

.del {
	border: 3px solid rgb(150, 173, 114);
}

.inputbox, .inputbutton{
	border: 3px solid skyblue;
}

.liner {
	text-decoration: line-through;
}